h2 {
    border: solid 5px;
    background-color: orangered;
    text-align: center;
    color: white;
}

body {
    background-color: lightseagreen;
    font-family: 'Times New Roman', Times, serif;
}

div {
    background-color: white;
    width: 480px;
    height: 280px;
}
.two { 
    color: coral;
}
